body, html {
  height: 100%;
  background-image: url(https://images.pexels.com/photos/1803919/pexels-photo-1803919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  margin: 10px;
  padding: 5px;
}

p {
  font-family: 'Open Sans', serif;
  font-size: 16px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.25rem;
}

.about-text {
  width: 35%;
  float: right;
  margin: 5%;
}

.about-portrait {
  float: left;
  width: 40%;
  height: auto;
  margin: 5%;
}

/*Navigation Bar*/

.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar {
    margin-top: 0rem;
    margin-right: 1.5rem;
  }

/* Typewriter Effect Text Styling*/

.home {
  padding-top: 10rem;
  display: flex;
  height: 100%;
  justify-content: center;
}


h1 a.typewrite, h3 {
  font-family:'Roboto' sans-serif; /* Web-safe typewriter-like font */
  color: #fff;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 }

div h3 {
  text-align: center;
}

h1 a.typewrite{
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: .25rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

/* Social Icon Styling */

.list-inline.list-social {
    margin: 0 0 30px;
    padding-top: 1rem;
}

.list-social.list-inline > li {
    padding: 0;
}

.social-icon {
    border: 1px solid transparent;
    border-radius: 8px 2px;
    color: #fff;
    display: block;
    height: 32px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    text-shadow: none;
    width: 32px;
}

.social-icon i {
    display: block;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.social-icon:hover i:first-child {
    margin-top: -32px;
}

.social-icon:hover {
  text-decoration: none;
}
.social-icon-colored.social-icon, .social-icon:hover {
    border-color: transparent;
    color: white;
}
.social-icon-colored.social-icon-facebook, .social-icon-facebook:hover {
    background-color: #3b5998;
}
.social-icon-colored.social-icon-linkedin, .social-icon-linkedin:hover {
    background-color: #0077b5;
}
.social-icon-colored.social-icon-github, .social-icon-github:hover {
    background-color: #6e5494;
}
.social-icon-colored.social-icon-instagram, .social-icon-instagram:hover {
    background-color: #bc2a8d;
}

ul
{
  display:flex;  
  list-style:none;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
 h1 a.typewrite
{
  font-size: 2rem;  
}

h3
{
  font-size: 1.25rem;  
}
  
}

@media (min-width: 1025px){
  
h1 a.typewrite
{
  font-size: 2.5rem;  
}

h3
{
  font-size: 1.5rem;  
}

